---
import { Image } from 'astro:assets';

interface Props {
  locationId: string;
  name: string;
  link: string;
  dateVisited: string;
  herbs: number;
  aroma: number;
  flavor: number;
  noodles: number;
  meat: number;
  price: number;
  notes: string;
}

const { locationId, name, link, dateVisited, herbs, aroma, flavor, noodles, meat, price, notes } =
  Astro.props;
const lastVisited = new Date(dateVisited).toLocaleDateString('en-us', {
  day: 'numeric',
  year: 'numeric',
  month: 'short',
});

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/*.{jpeg,jpg,png,gif,webp}'
);

const phoImage = '/src/images/' + locationId + 'Av1.webp';
const herbsImage = '/src/images/' + locationId + 'Bv1.webp';
if (!images[phoImage])
  throw new Error(`"${phoImage}" does not exist in glob: "src/images/*.{jpeg,jpg,png,gif,webp}"`);
if (!images[herbsImage])
  throw new Error(`"${herbsImage}" does not exist in glob: "src/images/*.{jpeg,jpg,png,gif,webp}"`);
---

<div class='card'>
  <a href={link}><h2>{name} (${price})</h2></a>
  <span><i>Last Visited: {lastVisited}</i></span>
  <div class='images'>
    <Image
      src={images[phoImage]()}
      alt='A bowl of Vietnamese beef noodle soup'
      width='375'
      height='375'
    />
    <Image
      src={images[herbsImage]()}
      alt='A plate of herbs used to top beef noodle soup'
      width='375'
      height='375'
    />
  </div>
  <p>{notes}</p>
</div>

<style>
  .card {
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--white);
    box-shadow: var(--medium-shadow);
  }

  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1rem;
  }
  img {
    border-radius: 1rem;
    max-width: 375px;
    max-height: 375px;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    .images {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      row-gap: 1rem;
    }
  }
</style>
